* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: #e9ecf0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
